@import url('https://fonts.googleapis.com/css?family=Pompiere');

.mek { background-color: 272727; width: 360px; border-radius: 10/100px; box-shadow: 3px 3px 7px #2a2a2a; }
.tek { font-family: pompiere;font-size: 20px; text-transform: uppercase;color: #6a616c;text-shadow: 1px 1px 1px #07010a;text-align: center;font-weight: lighter; padding-top: 3px; }
.iek { width: 180px; border-top:2px solid 272727;border-bottom:4px solid 272727; background-color: 0d0d0d; padding: 10px; padding-left: 3px; }
.cek { text-align:right; width: 385px; margin-top: -20px; }
.aek { text-decoration:none;color:272727; font-size: 8px; font-family: arial; }

/* Kod napisany przez KateIsBoredKateIsLazy. Wyłączenie autorstwa. */