@import url('https://fonts.googleapis.com/css?family=Roboto|Lora');
.pmt {
    margin:0 auto;
    width:360px;
    height:150px;
    position:relative;
}

.pmz {
    height:110px;
    width:55px;
    float:left;
}

.pmo {
    width:292px;
    height:30px;
    font-family:Lora;
    color:#CCC;
    line-height:12px;
    margin-left:10px;
    float:left;
    text-transform:lowercase;
    text-align: justify;
    font-size:9px;
    letter-spacing:1px;
}

.pmw {
    width:295px;
    height:6px;
    background-color:#254744;
    float:left;
    margin-left:10px;
    margin-top:10px;
}

.pmo2 {
    width:202px;
    position: relative;
    margin-left: 10px;
    margin-top:5px;
    float:left;
    text-align:justify;
    font-family:Lora;
    color:#ccc;
    line-height:12px;
    text-transform:lowercase;
    font-size:9px;
    letter-spacing:1px;
}

.pmmo {
    height: 56px;
    margin-top: 5px;
    float:right;
}