@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Noto+Serif');
.rmcissi {
    width: 325px;
    height: 435px;
    background-image: url('https://images2.imgbox.com/54/14/ConAD8rd_o.png');
    background-size: 60%;
    border-radius: 1px;
    background-repeat: no-repeat;
    background-position: bottom right;
    align-content: center;
    display: inline-block;
    background-color: #F9F9F9;
}

.rmhdcissi {
    text-align: right;
    position: relative;
    font-family: Homemade Apple;
    padding: 12px;
    font-size: 21px;
    letter-spacing: -1px;
    color: #8F6D29;
    margin-top: 12px;
}

.rmhdrcissi {
    text-align: left;
    position: relative;
    font-family: Homemade Apple;
    padding: 12px;
    font-size: 21px;
    letter-spacing: -1px;
    color: #8F6D29;
}

.rmocissi {
    text-align: justify;
    width: 300px;
    height: 150px;
    font-family: 'Noto Serif';
    overflow-y: scroll;
    font-size: 10px;
    color: #484848;
    background-color: #F9F9F970;
}

.rmocissi::-webkit-scrollbar-thumb {
    background-color: #353535;
    border-radius: 2px;
}

.rmocissi::-webkit-scrollbar {
    width: 5px;
}

.rmocissi::-webkit-scrollbar-track {
    background-color: transparent;
}